[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
flask = "*"
firebase-admin = "*"
google-cloud-firestore = "*"
google-cloud-exceptions = "*"

[requires]
python_version = "3.7"
